<div class="container py-5">
  <h1>Tomato Timer Backend</h1>
  <form action="/tasks" method="POST">
    <input type="text" placeholder="task" name="taskName">
    <button type="submit">Create</button>
  </form>

  <ul>
    {{#each tasks}}
    <li class="mt-2">
      <form action="/tasks/{{ this._id }}?_method=DELETE" method="POST" class="row">
        <div class="col-4">
          {{this.name}}
        </div>
        <div class="col-8">
          <button type="submit" class="btn btn-outline-danger">x</button>
        </div>
      </form>
    </li>
    {{/each}}
  </ul>
</div>